<template>
  <div v-if="isLoaded" class="app">
    <div class="image">
      <ImageComponent :imageUrl="imageUrl"/>
    </div>
    <div class="timer">
      <p class="header">My birthday comes in</p>
      <CountDown :date="endDate"/>
    </div>
  </div>
</template>
<script>
  import axios from 'axios';
  import CountDown from "./CountDown";
  import ImageComponent from "./ImageComponent";
  export default {
    components: { CountDown, ImageComponent },
    data() {
      return {
        endDate: '',
        imageUrl: '',
        isLoaded: false,
      }
    },
    mounted() {
      this.loadDate()
          .then(() => this.loadImage())
          .then(() => this.isLoaded = true);
    },
    methods: {
      loadDate() {
        return axios.get('/api/date')
            .then(response => {
              this.endDate = response.data;
            })
      },
      loadImage() {
        return axios.get('/api/image')
            .then(response => {
              this.imageUrl = response.data;
            })
      },
    },
  }
</script>
<style scoped>
  .app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .timer {
    max-width: 300px;
    width: 100%;
  }
  .image {
    max-width: 200px;
    max-height: 200px;
  }
  .header {
    text-align: center;
  }
</style>