<template>
  <div>
    <div v-if="dayDiff !== 0">
      <ul class="countdown">
        <li>
          <p class="digit">{{ days }}</p>
          <p class="text">{{ days > 1 ? 'days' : 'day' }}</p>
        </li>
        <li>
          <p class="digit">{{ hours }}</p>
          <p class="text">{{ hours > 1 ? 'hours' : 'hour' }}</p>
        </li>
        <li>
          <p class="digit">{{ minutes }}</p>
          <p class="text">min</p>
        </li>
        <li>
          <p class="digit">{{ seconds }}</p>
          <p class="text">sec</p>
        </li>
      </ul>
    </div>
    <div v-else class="loader">loaded...</div>
  </div>
</template>

<script>
export default {
  name: "CountDown",
  props: {
    date: {
      type: Number,
    },
  },
  data() {
    return {
      now: (new Date()).getTime(),
      endDate: '',
      dayDiff: 0,
      interval: null,
    }
  },
  watch: {
    now() {
      this.dayDiff = Math.trunc((this.endDate - this.now) / 1000);
    }
  },
  mounted() {
    this.endDate = new Date(this.date * 1000).getTime();
    this.interval = setInterval(() => {
      this.now = (new Date()).getTime();
    }, 1000);
  },
  computed: {
    seconds() {
      return Math.trunc(this.dayDiff) % 60;
    },
    minutes() {
      return Math.trunc(this.dayDiff / 60) % 60;
    },
    hours() {
      return Math.trunc(this.dayDiff / 60 / 60) % 24;
    },
    days() {
      return Math.trunc(this.dayDiff / 60 / 60 / 24);
    }
  }
}
</script>

<style scoped>
  .countdown {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
  }
  .countdown li {
    width: 25%;
    text-align: center;
  }
  .loader {
    text-align: center;
  }
  p.digit {
    background: #efefef;
    display: block;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
  }
  p.text {
    padding: 0;
    margin: 0;
  }
</style>