<template>
  <div>
    <img :src="imageUrl" v-if="imageUrl !== ''">
  </div>
</template>

<script>
export default {
  name: "ImageComponent",
  props: ['imageUrl']
}
</script>

<style scoped>
  img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
  }
</style>